body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: lavender;
}

.spacemanImgDisplay {
    width: 300px;
    height: 450px;
    margin: 0 auto;
    border: 2px solid black;
}

.spacemanImgDisplay img {
    background-size: contain;
    width: 300px;
    height: 450px;
}

#hintDisplay {
    margin: 15px 15px;
    padding: 5px;
    width: fit-content;
    align-self: center;
    height: 25px;
    font-size: small;
    font-weight: 600;
}

#messageDisplay {
    margin: 10px 15px;
    padding: 5px;
    width: fit-content;
    align-self: center;
    height: 35px;
    font-size: 20px;
    font-weight: 800;
}

.letterButtons button {
    width: 40px;
    height: 40px;
    margin: 4px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background-color: dodgerblue;
    color: white;
}

.letterButtons button:hover {
    background-color: coral;
    color: black;
    cursor: pointer;
}

#resetBtn {
    width: 100px;
    height: 40px;
    align-self: center;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
}

#resetBtn:hover {
    background-color: coral;
    color: black;
    cursor: pointer;
}

.lvlOne, .lvlTwo, .lvlThree > * {
    font-size: 69px;
    pointer-events: auto;
    cursor: pointer;
}

#lvl1B, #lvl1L1, #lvl1A1, #lvl1C {
    display: inline-flex;
    border: 2px solid black;
    width: 70px;
    height: 70px;
    vertical-align: top;
}

#lvl1K {
    display: inline-flex;
    border: 2px solid black;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    vertical-align: top;
}

#lvl1M, #lvl1E, #lvl1T, #lvl1A2, #lvl1L2 {
    display: inline-flex;
    border: 2px solid black;
    width: 70px;
    height: 70px;
    vertical-align: top;
}

.lvlTwo > * {
    display: inline-flex;
    border: 2px solid black;
    width: 70px;
    height: 70px;
    vertical-align: top;
}

#lvl3P, #lvl3O1, #lvl3W, #lvl3E1 {
    display: inline-flex;
    border: 2px solid black;
    width: 70px;
    height: 70px;
    vertical-align: top;
}

#lvl3R1 {
    display: inline-flex;
    border: 2px solid black;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    vertical-align: top;
}

#lvl3E2, #lvl3L, #lvl3E3, #lvl3C1, #lvl3T, #lvl3R2, #lvl3O2, #lvl3N, #lvl3I, #lvl3C2, #lvl3S {
    display: inline-flex;
    border: 2px solid black;
    width: 70px;
    height: 70px;
    vertical-align: top;
}

@media (min-width: 320px) and (orientation: portrait) {
    .spacemanImgDisplay {
        width: 200px;
        height: 350px;
        margin: 0 auto;
        border: 2px solid black;
    }
    
    .spacemanImgDisplay img {
        background-size: contain;
        width: 200px;
        height: 350px;
    }
    
    #hintDisplay {
        margin: 15px 15px;
        padding: 5px;
        width: fit-content;
        align-self: center;
        height: 25px;
        font-size: 12px;
        font-weight: 600;
    }
    
    #messageDisplay {
        margin: 10px 15px;
        padding: 5px;
        width: fit-content;
        align-self: center;
        height: 25px;
        font-size: 15px;
        font-weight: 800;
    }
    
    .letterButtons button {
        width: 20px;
        height: 20px;
        margin: 4px;
        font-size: 12px;
        cursor: pointer;
        border: none;
        border-radius: 20px;
        background-color: dodgerblue;
        color: white;
    }
    
    .letterButtons button:hover {
        background-color: coral;
        color: black;
        cursor: pointer;
    }
    
    #resetBtn {
        width: 100px;
        height: 40px;
        align-self: center;
        border: none;
        border-radius: 5px;
        background-color: dodgerblue;
        color: white;
    }
    
    #resetBtn:hover {
        background-color: coral;
        color: black;
        cursor: pointer;
    }
    
    .lvlOne,
    .lvlTwo,
    .lvlThree > * {
        font-size: 38px;
        pointer-events: auto;
        cursor: pointer;
    }
    
    #lvl1B,
    #lvl1L1,
    #lvl1A1,
    #lvl1C {
        display: inline-flex;
        border: 2px solid black;
        width: 40px;
        height: 40px;
        vertical-align: top;
    }
    
    #lvl1K {
        display: inline-flex;
        border: 2px solid black;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        vertical-align: top;
    }
    
    #lvl1M,
    #lvl1E,
    #lvl1T,
    #lvl1A2,
    #lvl1L2 {
        display: inline-flex;
        border: 2px solid black;
        width: 40px;
        height: 40px;
        vertical-align: top;
    }
    
    .lvlTwo > * {
        display: inline-flex;
        border: 2px solid black;
        width: 40px;
        height: 40px;
        vertical-align: top;
    }
    
    #lvl3P,
    #lvl3O1,
    #lvl3W,
    #lvl3E1 {
        display: inline-flex;
        border: 2px solid black;
        width: 40px;
        height: 40px;
        vertical-align: top;
    }
    
    #lvl3R1 {
        display: inline-flex;
        border: 2px solid black;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        vertical-align: top;
    }
    
    #lvl3E2,
    #lvl3L,
    #lvl3E3,
    #lvl3C1,
    #lvl3T,
    #lvl3R2,
    #lvl3O2,
    #lvl3N,
    #lvl3I,
    #lvl3C2,
    #lvl3S {
        display: inline-flex;
        border: 2px solid black;
        width: 40px;
        height: 40px;
        vertical-align: top;
    }
}